.table-header-in-reciever-page th{
    padding: 5px 30px;
    border-color: rgb(0, 0, 0);
    width: 190px;
    border: 1px solid;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 14, 65);
    border-color: black;
}
.table-data-in-reciever-page td{
    border-color: black;
    text-align: center;
    color: black;
    border:1px solid;
    padding: 5px;
}
.donations-in-reciever-page {
    color: black;
    text-align: center;
}
.table-in-receiver-page {
    border-collapse: collapse;
    margin-left: 50px;
}